<!DOCTYPE html>
<html>
    <head>
        <style>
            body, html {
                margin: 0;
                padding: 0;
            }
            svg#main {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <%- SVG %>
    </body>
</html>